@using Model
@page "/demoHotel"

<h3>We will display hotel rooms and amenities here!</h3>
<div class="border p-2" style="background-color: azure">
    <h3 class="text-info">Room List [USING COMPONENT]</h3>
    <div class="container-fluid">
        <div class="row">
            @foreach (var room in RoomList)
            {
                <IndividualRoom Room="room"></IndividualRoom>
            }
        </div>
    </div>
</div>

@code {
    List<BlazorRoom> RoomList = new List<BlazorRoom>();

    protected override void OnInitialized()
    {
        base.OnInitialized();

        RoomList.Add(new BlazorRoom
        {
            Id = 101,
            RoomName = "King Suite",
            Price = 100.00,
            IsActive = false,
            RoomProps = new List<BlazorRoomProp>
        {
                new BlazorRoomProp { Id = 1, Name = "Sq Ft", Value = "100" },
                new BlazorRoomProp { Id = 1, Name = "Occupancy", Value = "3" }
            }
        });

        RoomList.Add(new BlazorRoom
        {
            Id = 102,
            RoomName = "Queen Suite",
            Price = 70.00,
            IsActive = false,
            RoomProps = new List<BlazorRoomProp>
        {
                new BlazorRoomProp { Id = 1, Name = "Sq Ft", Value = "70" },
                new BlazorRoomProp { Id = 1, Name = "Occupancy", Value = "2" }
            }
        });
    }
}
