@using UdemyBlazorHiddenVilla_Server.Model

<div class="col-4 border p-2 bg-light offset-1" @onclick="AmenitySelected">
    <h4 class="text-muted">Amenity - @Amenity.Id</h4>
    <div>@Amenity.Name</div>
    <div>@Amenity.Description</div>
    <div>RF from Parent - @FragmentOne @FragmentTwo</div>
</div>

@code {
    [Parameter]
    public BlazorAmenity Amenity { get; set; }

    [Parameter]
    public RenderFragment FragmentOne { get; set; }

    [Parameter]
    public RenderFragment FragmentTwo { get; set; }

    [Parameter]
    public EventCallback<string> OnAmenitySelectionChanged { get; set; }

    protected async Task AmenitySelected()
    {
        await OnAmenitySelectionChanged.InvokeAsync(Amenity.Name);
    }
}
